<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

    <title>{{ page.title }}</title>
</head>
<header>
    <h1>Lizard Morrow</h1>
</header>
<body>
    <div class="main-container">
        <nav>
            <a href='/index.html' ><button class="nav-item">Home</button></a>
            <a href='/resoundingchaos.html' ><button class="nav-item">Resounding Chaos</button></a>
            <a href='/wombatfinder.html' ><button class="nav-item">wombatFinder</button></a>
            <a href='/hellonotes.html' ><button class="nav-item">Hello, Notes!</button></a>
            <a href='/happy_cow_blessings.html' ><button class="nav-item">Happy Cow Blessings</button></a>
        </nav>
        <article class="main-text">
            {{ content }}
        </article>
    </div>
</body>
<footer>
    <small>Made by Lizard 2020</small>
</footer>
</html>